table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 0px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
th {
    border-bottom: 1px solid grey;
}
td {
    border: 0px solid grey;
}
td {
    border: 0px solid grey;
}

/* устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px */
table {
    border-top: 0px solid yellow;
}
/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
td {
    border-bottom: 0px solid grey;
}
table {
    width: 200px;
}
th {
    width: 30%;
}
td:first-child {
    width: 20%;
}
th, td {
    padding: 10px 6px;
}
caption {
    caption-side: bottom;
    text-align: left ;
    padding: 10px 0;
    font-size: 14px;
}
h1 {
    text-align:left ;
}
table {
    float: left;
    margin-right: 10px;
    font-family: sans-serif;
    text-align:left;


}